{# <div class="footer-inner">
  <p>Digital Garden © {{ helpers.currentYear() }}</p>
  {% if settings.dgShowBacklinks %}
    {% include "components/backlinks.njk" %}
  {% endif %}
</div> #}

<footer class="site-footer">
  <p>
    © {{ helpers.currentYear() }} Mahalia Henry-Richards - built with obsidian, eleventy, and vercel. based on <a href="https://github.com/oleeskild/digitalgarden">oleeskild's digital garden template</a>.
  </p>
</footer>