---
layout: "index.njk"
permalink: "/notes/all/"
title: "All Notes"
dgShowSidebar: false
---
<p class="notes-col-footer"><a href="{{ '/notes/' | url }}">← back to notes</a></p>

<h1 class="notes-col-heading">all notes</h1>

<ul class="thematic-note-list thematic-note-list--full">
  {% for n in collections.thematicNotes %}
    <li>
      <a href="{{ n.url }}">{{ n.title }}</a>
      {% if n.primaryTag %}<div class="note-meta">#{{ n.primaryTag }}</div>{% endif %}
    </li>
  {% endfor %}
</ul>
