---
permalink: "/graph/"
layout: "base.njk"
title: "Knowledge Graph"
dgShowSidebar: false
dgShowLocalGraph: false
---

<div class="graph-page content-wrapper">
  <header class="graph-page-header">
<h1>Map of Ideas</h1>
<p>Explore the 'Digital Garden' of developing thoughts, knowledge and ideas.</p>
  </header>
  
  {% include "components/fullGraphPage.njk" %}
</div>
